[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
[user]
	name = air-plus
	email = jyin1221@gmail.com
[core]
	pager = delta
	editor = hx
[interactive]
	diffFilter = delta --color-only
[delta]
	features = catppuccin-mocha
	navigate = true
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = main
